* {
  font-family: "FiraCode Nerd Font";
  font-size: 15px;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
}

window#waybar.hidden {
  opacity: 0;
}

#workspaces {
  background-color: #282a36;
  border-radius: 20px;
  padding: 0 15px;
}

#workspaces button {
  margin: 0 5px;
  padding: 0;
  background: transparent;
  color: #ffffff;
  border-bottom: 2px solid transparent;
}

#workspaces button.persistent {
  color: #4e4f57;
}

#workspaces button.focused {
  border-bottom: 2px solid #ff79c6;
  color: #ff79c6;
}

#workspaces button.urgent {
  color: #ff5555;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  border-bottom: 2px solid #ff79c6;
}

#window {
  background-color: #282a36;
  border-radius: 20px;
  padding: 1px 20px;
}

window#waybar.empty #window {
  background: none;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#mode {
  padding: 0 20px;
  margin: 0 5px;
  background-color: #282a36;
  color: #ffffff;
  border-radius: 20px;
}

#clock {
  margin: 0;
  border-radius: 0;
  padding: 1px 5px 0 10px;
}

#custom-launcher {
  padding: 0 0 0 20px;
  color: #ffffff;
  background-color: #282a36;
  border-radius: 20px 0 0 20px;
  margin: 0 0;
}

#custom-notification {
  font-size: 16px;
  font-weight: bold;
  padding: 0 20px 0 10px;
  background-color: #282a36;
  color: #ffffff;
  border-radius: 0 20px 20px 0;
}

#custom-notification.notification {
  text-shadow: 0 -1px rgba(255, 255, 255, 0.1);
  color: #ff5555;
}

#custom-keyboard {
  padding: 0px 20px 0 20px;
  color: #ffffff;
  background-color: #282a36;
  border-radius: 20px;
  margin: 0 5;
}

#language {
  padding: 0px 20px 0 20px;
  color: #ffffff;
  background-color: #282a36;
  border-radius: 20px;
  margin: 0 5;
}

#custom-powermenu {
  padding: 0px 20px 0 20px;
  color: #ffffff;
  background-color: #282a36;
  border-radius: 0 20px 20px 0;
  margin: 0 5;
}

#battery {
}

#battery.charging {
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
}

#memory {
}

#backlight {
}

#network {
  margin: 0 0 0 5px;
  padding: 0 10px 0 20px;
  border-radius: 20px 0 0 20px;
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-media {
}

.custom-spotify {
}

.custom-vlc {
}

#temperature {
}

#temperature.critical {
}

#tray {
  padding: 0 5px 0 15px;
  margin: 0;
  background-color: #282a36;
  color: #ffffff;
  border-radius: 20px 0 0 20px;
}

#idle_inhibitor {
  padding: 0 27px 0 20px;
  margin: 0 5px;
  border-radius: 20px;
  background-color: #282a36;
  color: #ffffff;
}

#idle_inhibitor.activated {
  color: #ff7955;
}

#custom-audio_idle_inhibitor {
  font-size: 16px;
  font-weight: bold;
  padding: 0 10px;
  margin: 0;
  background-color: transparent;
  color: #ffffff;
  border-radius: 20px 0 0 20px;
}

#custom-audio_idle_inhibitor.output {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 20px;
}

#custom-audio_idle_inhibitor.none {
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 20px;
}

#custom-audio_idle_inhibitor.output-input {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 20px;
}

@keyframes blink-recording {
  from {
    color: #f53c3c;
  }
  to {
    color: #ff7955;
  }
}

#custom-audio_idle_inhibitor.input {
  animation-name: blink-recording;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-audio_idle_inhibitor.output-input {
  animation-name: blink-recording;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

tooltip {
  border: 1px solid #ff79c6;
  border-radius: 10px;
  padding: 10px;
  background-color: #282a36;
}
